span {
  padding-bottom: 4px;
}

textarea {
  resize: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App {
  text-align: left;
}

.Input {
}

.Input-header {
  display: inline-block;
  padding-bottom: 6px;
}

.Input-submitted {
  opacity: 0.5;
}

.Input-message {
  width: 100%;
  height: 120px;
}

.Output {
  padding-top: 30px;
}

.Output-header {
  display: inline-block;
  padding-bottom: 6px;
}

.OutputRow {
  width: 100%;
  padding-bottom: 12px;
}

.OutputRow-copied {
  opacity: 0.5;
}

.OutputRow-message {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.OutputRow-copy {
}
