.App {
  text-align: left;
}

span {
  padding-bottom: 4px;
}

.Input {
}

.Input-submitted {
  opacity: 50%;
}

.Input-message {
  width: 100%;
  height: 120px;
}

.Output {
  padding-top: 20px;
}

.OutputRow {
  width: 100%;
  padding-bottom: 10px;
}

.OutputRow-copied {
  opacity: 50%;
}

.OutputRow-message {
  width: 100%;
  height: 20px;
}

.OutputRow-copy {
}
